<div *ngIf="isDesktop" class="desktop">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-icon class="icon-calendar" name="today-outline"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <div class="navbar" class="ion-text-center">
            <ion-button fill="clear" routerLink="/time-manager" routerDirection="root" routerLinkActive="active-link"
              class="link">
              Calendar
            </ion-button>
            <ion-button fill="clear" routerLink="/notes-manager" routerDirection="root" routerLinkActive="active-link"
              class="link">
              Notes
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="2">
          <ion-button class="button-logout" fill="clear" (click) ="logout()">
            <ion-icon class="icon-logout" name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet class="desktop-wrapper"></ion-router-outlet>
  </div>


<ion-content *ngIf="ListeUE">
  <ion-card *ngFor= "let ue of ListeUE"> 
      <ion-card-header tappable (click)="clickOn(ue)">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-card-title>{{ue.name}}</ion-card-title>
            </ion-col>
            <ion-col size="5"><canvas #barChart class="{{'barChartHeader' + ue.name}}" height="90" width="400"></canvas></ion-col>
            <ion-col size="1">
              <ion-card-title>43</ion-card-title>
            </ion-col>
            <ion-col size="1">
              <ion-card-title>12,6</ion-card-title>
            </ion-col>
            <ion-col size="1">
              <ion-card-title>11,43</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-header> 
      <ion-card-content [id]="ue.name" [hidden]="!ue.visible" >
          <ion-grid>
            <ion-row>
              <ion-col size="1"></ion-col>
                <ion-col size="4">
                    <canvas #barPlot class="{{'barChart' + ue.name}}"></canvas>
                </ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="4">
                    <canvas #horPlot class="{{'horChart' + ue.name}}"></canvas>
                </ion-col>
                
            </ion-row>
          </ion-grid>


      </ion-card-content>
  </ion-card> 
</ion-content>
