$white-color: #fff;
$height100: 100%;

ion-content {
    background: #dfdfdf;
}

ion-grid {
    width:80%;
    height: $height100;
}

ion-row {
    height: 50%;
}

// ion-col {
//     border: 1px solid #488aff;
//     background: $white-color;
// }

ion-button {
    margin-top: 30px;
    font-weight: 200;
}

.underline {
    text-decoration: underline;
    text-align: center;
  }

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
        margin-left : 5%;
    }
    ion-col {
        border: none;
    }
}