<div *ngIf="isDesktop" class="desktop">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-icon class="icon-calendar" name="today-outline"></ion-icon>
        </ion-col>
        <ion-title text-center color="light">Bienvenue sur Polytech'App</ion-title>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet class="desktop-wrapper"></ion-router-outlet>
</div>
 
<ion-content padding>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center>
          <div text-center>
            <h4 class="ion-text-center">Connexion</h4>
          </div>
          <div padding>
            
            <ion-item>
              <ion-input type="email" formControlName="email" placeholder="Adresse email"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="Mot de passe"></ion-input>
            </ion-item>

            <ion-button shape="round" size="medium" expand="block" type="submit" [disabled]="!credentialsForm.valid">Se connecter</ion-button>
          </div>

          <div text-center>
            <ion-item routerLink="/register" routerLinkActive="active">
              <ion-text>
                <h6 class="underline">Pas encore de compte ?</h6>
              </ion-text>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>