<ion-app>
  <ion-split-pane contentId="content">
    <ion-menu contentId="content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/home']" routerDirection="root"> Acceuil
            </ion-item>
            <ion-item [routerLink]="['/time-manager']" routerDirection="root"> Calendar
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
